/* INIT STATE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --website-white: #ecebf3;
  --website-black: #0c120c;
  --website-gray: #6d7275;
  --website-red: #9e1313;
  --website-green: #c7d6d5;
  --website-font: Bahnschrift, "Roboto", sans-serif;
  --website-head-foot: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--website-font);
  font-size: 1.8rem;
  font-weight: 650;
  line-height: 1.4;
  background: var(--website-white);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h1 {
  font-family: var(--website-font);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: var(--website-font);
  font-weight: 550;
  text-align: left;
  padding-left: 20px;
}

/* MEDIA QUERIES */
/* MOBILE NAVBAR */
@media only screen and (max-width: 960px) {
  /* HEADER MOBILE */
  .mobile-wrapper {
    position: absolute;
    width: 100%;
    margin-top: 12px;
    left: 0;
    top: 4em;
    background: linear-gradient(
      50deg,
      var(--website-red) 20%,
      var(--website-white)
    );
  }

  .mobile-wrapper ul {
    height: auto;
  }

  .mobile-wrapper ul li {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .mobile-wrapper ul li a {
    color: white;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 90%);
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid var(--website-gray);
    display: block;
    margin: 0;
    transition: background 0.5ms ease-in;
  }

  .mobile-wrapper ul li a:hover {
    background: linear-gradient(
      45deg,
      var(--website-red),
      var(--website-black)
    );
  }

  .logo-container {
    padding-bottom: 9px;
  }

  nav {
    display: none;
  }
}

/* PHONES */
@media (max-width: 480px) {
  /* INIT MOBILE */
  html {
    font-size: 48%;
    max-width: 480px;
  }

  body {
    background: var(--website-black);
  }

  /* WELCOME MOBILE */

  .welcome-section {
    height: 15vh;
  }

  .welcome-section h1,
  .welcome-section p {
    display: none;
  }

  .welcome-section img {
    max-width: 240px;
  }

  /* PROJECTS MOBILE*/
  #projects {
    padding-bottom: 60em;
  }

  .projects-header {
    min-width: 200px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 480px));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .project-tile {
    min-width: 220px;
    max-width: 480px;
  }

  /* ABOUT ME MOBILE */
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60em 0 40em 0;
  }

  .about-container {
    padding: 60em 0 120em 0.75em;
    max-width: 480px;
  }

  .about-container {
    display: grid;
    grid-template-rows: minmax(220px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "txt";
  }

  .image {
    grid-area: img;
    min-width: 220px;
  }

  .text {
    grid-area: txt;
    min-width: 220px;
    max-height: 400px;
  }

  .about-text {
    font-size: 90%;
  }

  /* CONTACT ME MOBILE */

  .contact-section-header {
    font-size: 1em;
    margin-top: 60em;
    padding-bottom: 6em;
  }

  .contact-links .btn {
    margin-top: 20px;
  }

  .contact-links {
    font-size: 120%;
  }

  /* FOOTER MOBILE */
  footer {
    height: 200px;
    margin-top: 30em;
    bottom: 0;
  }
}

/* TABLETS */
@media (min-width: 480px) and (max-width: 960px) {
  /* WELCOME MOBILE */
  html {
    font-size: 52%;
    max-width: 960px;
  }

  .welcome-section {
    height: 50vh;
  }

  .welcome-section h1,
  .welcome-section p {
    display: none;
  }

  .welcome-section img {
    max-width: 460px;
  }

  /* PROJECTS MOBILE */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  /* ABOUT ME MOBILE */
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20em;
  }

  .about-container {
    margin: 0 2em 1em 10em;
    padding: 10em 0;
  }

  .about-container {
    display: grid;
    grid-template-rows: minmax(220px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "txt";
  }

  .image {
    grid-area: img;
    min-width: 340px;
    max-width: 480px;
    margin: 0 6em 0 2em;
  }

  .text {
    grid-area: txt;
    min-width: 480px;
    max-width: 900px;
    max-height: 800px;
  }

  /* CONTACT ME MOBILE */
  .contact-section {
    padding: 20em 0;
  }

  .contact-section-header {
    padding: 20em 0 0 2em;
  }

  .contact-links .btn {
    margin-top: 12px;
  }

  .contact-links {
    font-size: 120%;
  }

  /* FOOTER MOBILE */
  footer {
    padding-top: 20em;
  }
}

/* DESKTOP */
@media only screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "img txt";
    margin: 0 0 1em 14em;
  }
}

/* HEAD */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px 0 40px;
  width: 100%;
  background: var(--website-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 15;
}

.navBar-inactive {
  display: none;
}

.menuBtn {
  right: 10%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.menuBtn {
  border: 0;
  background: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
  padding: 0;
  z-index: 5;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: var(--website-white);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--website-white);
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
  z-index: 5;
}

.header-logo {
  display: flex;
  height: 55px;
  margin-left: 0.5rem;
}

.nav-list {
  display: flex;
}

ul {
  list-style: none;
}

li {
  display: list-item;
}

.nav-list a {
  display: block;
  color: var(--website-white);
  font-size: 2.2rem;
  font-family: var(--website-head-foot);
  font-weight: bold;
  text-decoration: none;
  padding: 2rem;
}

.nav-list a:hover {
  text-decoration: underline;
}

/* WELCOME */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--website-white);
  background-image: linear-gradient(
    180deg,
    var(--website-white),
    var(--website-green)
  );
}

.welcome-section h1 {
  font-size: 5.4rem;
  font-weight: 550;
}

.welcome-section p {
  font-size: 2.4rem;
  font-weight: 400;
  padding-top: 12px;
}

/* WORK */
.project-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--website-black);
  background-image: linear-gradient(
    180deg,
    var(--website-green),
    var(--website-gray)
  );
}

.projects-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  background: rgb(255, 255, 255, 0.6);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2%;
}

.project-container {
  position: relative;
  margin: 0 auto;
}

.project-container .html-css-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: var(--website-white);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
}

.project-container:hover .html-css-js {
  display: block;
  padding-top: 120px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  background: var(--website-red);
}

.projects-grid a {
  text-decoration: none;
  color: var(--website-black);
}

.projects-grid img {
  display: block;
}

.project {
  background: var(--website-white);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2%;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  transition: background 0.4s ease-in;
  transition: color 0.2s ease-in;
}

.project-title:hover {
  background: var(--website-red);
  color: var(--website-white);
}

.project-section .btn {
  display: inline-block;
  justify-self: center;
  padding: 1rem 2rem;
  border-radius: 2%;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.project-section a {
  text-decoration: none;
  color: var(--website-black);
}

.btn-see-more {
  font-size: 2rem;
  background: var(--website-white);
  transition: background 0.3s ease-out;
  transition: color 0.3 ease-out;
}

.btn-see-more:hover {
  background: var(--website-red);
  color: var(--website-white);
}

/* ABOUT ME */
.about-section {
  width: 100%;
  height: 100vh;
  color: var(--website-white);
  background-image: linear-gradient(
    180deg,
    var(--website-gray),
    var(--website-black)
  );
}

.about-container {
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 100%;
}

.image .self-pic {
  grid-area: img;
  min-width: 220px;
  max-width: 90%;
  padding: 10px;
  margin-top: 2em;
  background: linear-gradient(
    180deg,
    rgb(123, 175, 233) 33%,
    rgb(32, 57, 36) 66%
  );
  box-shadow: 2px 2px 3px rgb(0 0 0 / 80%);
  box-shadow: 4px 4px 5px rgb(0 0 0 / 50%);
}

.text {
  grid-area: txt;
  min-width: 220px;
  max-width: 80%;
  padding: 10px;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 90%);
}

.text p {
  margin: 20px 20px;
}

/* CONTACT */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70vh;
  padding: 0 2rem;
  background: var(--website-black);
}

.contact-section-header h2 {
  font-size: 6rem;
  padding: 0 1rem 4rem 1rem;
  text-shadow: 4px 4px 5px rgb(0 0 0 / 90%);
}

.contact-section .btn {
  display: inline-block;
  padding: 1rem 2rem;
}

.contact-section a {
  font-weight: 650;
  text-decoration: none;
  color: var(--website-white);
  transition: background 0.3s ease-out;
  margin: 0 2rem;
}

.contact-section a:hover {
  background: var(--website-gray);
}

.contact-section i {
  padding-right: 10px;
}

#contact-me {
  color: var(--website-white);
}

.contact-section .btn {
  display: inline-block;
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
  padding: 1rem 2rem;
  border-radius: 2%;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

/* FOOT */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--website-black);
  border-top: 4px solid var(--website-gray);
}

footer > p {
  margin: 2rem;
}

footer p {
  display: block;
  color: var(--website-white);
}

/* EXTRA */
.hidden {
  display: none;
}
